<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNYDKTilyhasMWTIyjJG_LhzjokoBEljk</string>
	<key>GCM_SENDER_ID</key>
	<string>659820688435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodReserve</string>
	<key>PROJECT_ID</key>
	<string>food-reserve-d2f50</string>
	<key>STORAGE_BUCKET</key>
	<string>food-reserve-d2f50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659820688435:ios:68e2a233939f15d9b79f46</string>
</dict>
</plist>